html {
    background-color: blueviolet;
}

.main-title, .side-title, .recorder-buttons {
    border: 3px dotted purple;
}

.main-title {
    grid-area: main-title;
}

.side-title {
    grid-area: side-title;
}

.recorder-buttons {
    display: grid;
    grid-area: recorder-buttons;
}

@media (orientation: landscape){
    #tape-recorder{
        display: block;
        position: fixed;
        aspect-ratio: 3/2;
        height: 120vh; /*TODO: Both height and width will completely screw over the pic if the pic is not a fixed aspect ratio as well*/
        min-width: 100vw;
        transform: translate(-10vw, 0);

        margin: auto 0;
        top: 0;
        bottom: 0;
        right: 0;

        border: 5px solid red;
    }

    #tape-grid{
        display: grid;
        position: relative;
        width: 80vw;
        margin-left: calc(100% - 80vw);
        height: 100vh;
        top: 50%;
        transform: translate(0,-50%);

        grid-template-columns: 2fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
        grid-template-areas: 
        "main-title main-title recorder-buttons"
        ". side-title recorder-buttons"
        ". . recorder-buttons";
        /* place-items: center; */

        border: 1px solid green;
    }
}

@media (orientation: portrait){
    #tape-recorder{
        display: block;
        position: fixed;
        width: 120vw;
        aspect-ratio: 2/3;
        transform: translate(0, -10vh);

        margin: 0 auto;
        left: -10vw;
        bottom: 0;

        border: 5px solid blue;
    }

    #tape-grid{
        display: grid;
        position: relative;
        width: 100vw;
        height: 80vh;
        margin-top: 100%;
        left: 50%;
        transform: translate(-51%,0); /* God only knows why tf 50% is not correctly aligned */

        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-areas: 
        ". . main-title"
        ". side-title main-title"
        "recorder-buttons recorder-buttons recorder-buttons";
        /* place-items: center; */

        border: 1px solid green;
    }
}