html {
    background-color: blueviolet;
}

@media (orientation: landscape){
    #tape-recorder{
        display: block;
        position: fixed;
        aspect-ratio: 3/2;
        height: 120vh;
        min-width: 100vw;
        transform: translate(-10vw, 0);

        margin: auto 0;
        top: 0;
        bottom: 0;
        right: 0;

        border: 5px solid red;
    }

    #tape-grid{
        display: grid;
        position: relative;
        margin-left: 60%;
        top: 50%;
        transform: translate(0,-50%);

        place-items: center;
    }
}

@media (orientation: portrait){
    #tape-recorder{
        display: block;
        position: fixed;
        width: 120vw;
        aspect-ratio: 2/3;
        transform: translate(0, -10vh);

        margin: 0 auto;
        left: -10vw;
        bottom: 0;

        border: 5px solid blue;
    }

    #tape-grid{
        display: grid;
        position: relative;
        width: 50vw;
        margin-top: 100%;
        left: 50%;
        transform: translate(-50%,0);

        place-items: center;
    }
}